/*importação da fonte*/
@font-face {
    font-family: 'Circular';
    src: url('../font/CircularStd-Book.woff') format('woff'); 
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Circular;
}

html {
    overflow-x: hidden;/*esconde a barra se scroll horizontal que se cria devido ao quizz*/
}

header,
section {
    height: 100vh;
    width: 100%;
}

header {
    background: #b7b6b6;
    position: relative;
}

header>div {
    width: 100%;
    position: absolute;
    bottom: 0;
}

header>div>img {
    position: relative;
    margin-left: 7%;
    margin-bottom: 7%;
}

section {
    background: #fffef8;
    padding: 4% 7%;/*top & bottom   right & left*/
    border: solid yellow;
}

.container {
    width: 100%;
    height: auto;
}

.text {
    font-size: 1.25vw;/*formato de fonte responsivo*/
    width: 50%;
    margin-top: 3%;
    font-family: 'Circular';
    line-height: 1.4;
}
