
.titulos{
    font-size: 1.6vw;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.primeiroTit {
    color: #507650;
    display: flex;
    justify-content: start;
}

.topicos {
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: end;
    position: absolute;
}

.topicos>ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 30px;
}

.topicos>ul>li {
    list-style: none;
    cursor: pointer;
    color: #c9c9c9;
}

#localBtn {
    color: #507650;
}

#fourthScreen{
    position: relative;
}

.square {
    width: 80px;
    height: 80px;
    position: absolute;
    display: none;
    z-index: 10;
}

.square:hover{
    cursor: grab;
}

.local {
    background-color: rgb(197, 50, 50);
}

.arma {
    background-color: rgb(107, 175, 107);
}

.assassino {
    background-color: rgb(158, 158, 255);
}

.vitima {
    background-color: rgba(255, 255, 86, 0.655);
}

.motivo {
    background-color: pink;
}

.display{
    position: relative;
    width: 50%;
    height: 85%;
    left: 55%;
    bottom: 5%;
    border: solid blue;
}
