/*importação da fonte*/
@font-face {
    font-family: 'Circular';
    src: url(font/CircularStd-Book.otf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

header,
section {
    height: 100vh;
    width: 100%;
}

header {
    background: #b7b6b6;
    position: relative;
}

header>div{
    width: 100%;
    position: absolute;
    bottom:0;
}

header>div>img{
    position: relative;
    margin-left: 7%;
    margin-bottom: 7%;
}

section {
    background: #fffef8;
}

.container{
    width: 100%;
    padding-left: 7%;
    padding-top: 6%;
}

.text{
    width: 550px;
    margin-top: 3%;
    font-family: 'Circular';
    font-size: 12pt;
    line-height: 1.4;
}
