/*importação da fonte*/
@font-face {
    font-family: 'Circular';
    src: url(font/CircularStd-Book.otf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Circular;
}

header,
section {
    height: 100vh;
    width: 100%;
}

header {
    background: #b7b6b6;
    position: relative;
}

header>div {
    width: 100%;
    position: absolute;
    bottom: 0;
}

header>div>img {
    position: relative;
    margin-left: 7%;
    margin-bottom: 7%;
}

section {
    background: #fffef8;
}

.animation {
    width: 300px;
    height: 300px;
    transition: opacity 0.5s ease;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 5% 7%;
    /*top & bottom   right & left*/
    box-sizing: border-box;
}

.text {
    width: 550px;
    margin-top: 3%;
    font-family: 'Circular';
    font-size: 12pt;
    line-height: 1.4;
}

.container>h1 {
    color: #507650;
    font-size: 15pt;
    margin-bottom: 15px;
}

.topicos {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.topicos>ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
    font-size: 15pt;
}

.topicos>ul>li {
    list-style: none;
    cursor: pointer;
    color: #c9c9c9;
}

#localBtn {
    color: #507650;
}

.quizzCont {
    width: 700px;
    height: 300px;
    position: relative;
    display: none;
}

.square {
    width: 80px;
    height: 80px;
    position: absolute;
}

#local {
    display: block;
}

/*inicialmente só a arma está visível*/
.local {
    background-color: rgb(197, 50, 50);
}

.arma {
    background-color: rgb(107, 175, 107);
}

.assassino {
    background-color: rgb(158, 158, 255);
}

.vitima {
    background-color: rgba(255, 255, 86, 0.655);
}

.motivo {
    background-color: pink;
}